<div class='container'>
  <h2>Workers list</h2>
  <div class='legend'>
    click to edit worker
  </div>
    <div class='items'>
      <ul>
        <% @workers.each do |worker| %>
          <li>
            <p><%= link_to "#{worker.first_name}, #{worker.status}", worker_path(worker) %></p>
       </li>
        <% end %>
      </ul>
    </div>

  <div class='container-form'>
      <h4>Add a worker</h4>
      <div class="form">
        <%= form_with(model: Worker.new, url: workers_path, method: :post) do |form| %>
          <div class="field">
            <%= form.label :first_name %>
            <%= form.text_field :first_name %>
          </div>
          <div class="field">
            <%= form.label :status %>
            <%= form.text_field :status %>
          </div>
          <div class="action">
            <%= form.submit "Add Worker", class: "button" %>
          </div>
        <% end %>
        </div>
      </div>
</div>
