<div class='container'>
<h3>Workers list</h3>
  <div class='items'>
    <ul>
      <% @workers.each do |worker| %>
        <li>
          <p><%= worker.first_name %>, <%= worker.status %></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class='container-form'>
    <h4>Add a worker</h4>
  <div class="form">
    <%= form_with(model: Worker.new, url: workers_path, method: :post) do |form| %>
      <div class="field">
        <%= form.label :first_name %>
        <%= form.text_field :first_name %>
      </div>
      <div class="field">
        <%= form.label :status %>
        <%= form.text_field :status %>
      </div>
      <div class="action">
        <%= form.submit "Add Worker", class: "button" %>
      </div>
    <% end %>
  </div>
  </div>
</div>
